In [1]:
import pandas as pd

In [44]:
file='E:\\SEMESTER V\\Data Sains\\shades.csv'
dataset=pd.read_csv(file)
dataset.head()

,brand,brand_short,product,product_short,hex,H,S,V,L,group
0,Maybelline,mb,Fit Me,fmf,f3cfb3,26.0,0.26,0.95,86,2
1,Maybelline,mb,Fit Me,fmf,ffe3c2,32.0,0.24,1.00,92,2
2,Maybelline,mb,Fit Me,fmf,ffe0cd,23.0,0.20,1.00,91,2
3,Maybelline,mb,Fit Me,fmf,ffd3be,19.0,0.25,1.00,88,2
4,Maybelline,mb,Fit Me,fmf,bd9584,18.0,0.30,0.74,65,2

In [6]:
#Mencari Merk dan produk yang memiliki penjualan terbanyak (BEST SELLER)

In [13]:
data1=dataset[['brand', 'product']] #menampilkan data yang diperlukan
data1.head()

        brand product
0  Maybelline  Fit Me
1  Maybelline  Fit Me
2  Maybelline  Fit Me
3  Maybelline  Fit Me
4  Maybelline  Fit Me

In [14]:
data1.isna().sum() #menghitung missing value

brand      0
product    0
dtype: int64

In [16]:
data1.describe() #statistika deskriptif data

             brand     product
count          625         625
unique          36          38
top     Maybelline  Studio Fix
freq            54          42

In [17]:
import statistics

In [45]:
data1_GROUPBY_brand = data1.groupby("brand")

In [46]:
data1_GROUPBY_brand["brand"].count()

brand
Addiction           17
Beauty Bakerie      30
Bharat & Doris       7
Black Opal          12
Black Up            18
Blue Heaven          2
Bobbi Brown         30
Colorbar             3
Covergirl + Olay    12
Dior                 6
Elsas Pro           11
Estée Lauder        42
Fenty               40
Hegai and Ester     10
House of Tara       11
IPSA                 6
Iman                 8
Kate                 6
Kuddy                5
L'Oréal             36
Lakmé                4
Lancôme             40
Laws of Nature      17
Lotus Herbals        4
MAC                 42
Make Up For Ever    40
Maybelline          54
NARS                13
Nykaa                5
Olivia               4
RMK                  9
Revlon              22
Shiseido             6
Shu Uemera          11
Trim & Prissy       13
bareMinerals        29
Name: brand, dtype: int64

In [36]:
data1_GROUPBY_product = data1.groupby("product")

In [37]:
data1_GROUPBY_product["product"].count()

product
#1 CAKE MIX               30
ColorStay                 22
Diorskin Forever           6
Double Wear               42
Fit Me                    40
Fit Me Matte              14
Flawless Finish            6
Foundation                 4
Foxy Finish               17
Full Coverage             11
Hi - Def                   7
Infalliable               22
Invisible Finish           4
Liquid Foundation         13
Make-Up Ecostay            4
Matifying Fluid           18
Matte Wear                 5
Oil Free                  11
PRO FILT'R                40
Perfect Match              3
Petal Skin Fluid          11
Photo Perfect             10
RMK Liquid                 9
SKINgenius                 5
Second to None             8
Secret Skin Maker Zero     6
Simply Ageless            12
Skin Long-Wear            30
Studio Fix                42
Synchro Skin               6
Teint Idole               40
The Foundation            17
True Color                12
True Match                14
Ultra HD                  40
Velvet Matte              13
X Factor                   2
barePRO                   29
Name: product, dtype: int64

In [39]:
data1_GROUPBY_brand_product = data1.groupby(["brand", "product"])

In [40]:
data1_GROUPBY_brand_product["product"].count()

brand             product
Addiction         The Foundation            17
Beauty Bakerie    #1 CAKE MIX               30
Bharat & Doris    Liquid Foundation          7
Black Opal        True Color                12
Black Up          Matifying Fluid           18
Blue Heaven       X Factor                   2
Bobbi Brown       Skin Long-Wear            30
Colorbar          Perfect Match              3
Covergirl + Olay  Simply Ageless            12
Dior              Diorskin Forever           6
Elsas Pro         Full Coverage             11
Estée Lauder      Double Wear               42
Fenty             PRO FILT'R                40
Hegai and Ester   Photo Perfect             10
House of Tara     Oil Free                  11
IPSA              Liquid Foundation          6
Iman              Second to None             8
Kate              Secret Skin Maker Zero     6
Kuddy             Matte Wear                 5
L'Oréal           Infalliable               22
                  True Match                14
Lakmé             Invisible Finish           4
Lancôme           Teint Idole               40
Laws of Nature    Foxy Finish               17
Lotus Herbals     Make-Up Ecostay            4
MAC               Studio Fix                42
Make Up For Ever  Ultra HD                  40
Maybelline        Fit Me                    40
                  Fit Me Matte              14
NARS              Velvet Matte              13
Nykaa             SKINgenius                 5
Olivia            Foundation                 4
RMK               RMK Liquid                 9
Revlon            ColorStay                 22
Shiseido          Synchro Skin               6
Shu Uemera        Petal Skin Fluid          11
Trim & Prissy     Flawless Finish            6
                  Hi - Def                   7
bareMinerals      barePRO                   29
Name: product, dtype: int64